.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.w-row {
	width: 450px;
}

#form-login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	border: 2px solid var(--violet);
}

#form-login > button {
	align-self: center;
	width: 120px;
	padding: 10px;
	font-size: 16px;
}

.form-title {
	padding: 20px;
	border: 2px solid var(--violet);
	border-bottom: 0;
	text-align: center;
	background-color: var(--violet);
}

.form-title > h5 {
	margin: 0;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

@media (max-width: 468px) {
	.wrapper {
		height: calc(var(--vh, 1vh) * 100);
	}

	.w-row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		width: 100vw;
	}

	#form-login {
		justify-content: flex-start;
		font-size: 18px;
		border: none;
	}

	#form-login input {
		padding: 15px;
	}

	#form-login > button {
		width: 100%;
		margin-top: 20px;
		padding: 15px;
		font-size: 18px;
	}

	.form-title {
		border: none;
		background-color: #fff;
	}
	.form-title > h5 {
		font-size: 22px;
		color: #000;
	}
}
